@model web_Laptop.BundleConfig

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>BundleConfig</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
